<h1>Classroom Info</h1>

<p>
  <strong>Name:</strong>
  <%= @classroom.name %>
</p>
 
<p>
  <strong>Max_enrollment:</strong>
  <%= @classroom.max_enrollment %>
</p>

<p>
  <strong>Details:</strong>
  <%= @classroom.details %>
</p>

<%= link_to 'Back to Classrooms List', classrooms_path %>