// Place all the styles related to the Lessons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.day {
	border-style: solid;
	border-color: black;
	border-width: 2px;
	width: 150px;
	vertical-align: top;
}
.weekCalendar {
	.day {
		height: 450px;
	}
}
.monthCalendar {
	.day {
		height: 100px;
	}
}

.prev-month {
	background-color: gainsboro;
}

.next-month {
	background-color: gainsboro;
}

.today {
	background-color: rgb(184, 247, 199);
}

#grade_levels_form {
	color: #376b07;
}
