// Place all the styles related to the Lessons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.day {
	width: 150px;
	vertical-align: top;
	height: 175px;
	border-style: solid;
	border-color: black;
	border-width: 2px;
}

.calendarDate {
	color: #325932;
	text-align: left;
	a {
  		color: #325932;
  		&:visited {
    		color: #325932;
    	}
  	}
}

.weekCalendar {
	.lessonBlock {
		background-image: url("lessonBlockBackground.png"); 
		border: 2px solid black;
		margin-bottom: 1px;
	}
	.today {
		background-color: rgb(184, 247, 199);
	}
}

.weekCalendarClassrooms {
	text-align: left;
}

.prev-month, .next-month, .wday-0, .wday-6 {
	background-color: gainsboro;
}





