// Place all the styles related to the Lessons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.day {
	border-style: solid;
	border-color: black;
	border-width: 2px;
	width: 150px;
	height: 100px;
	vertical-align: top
}

.prev-month {
	background-color: gainsboro;
}

.next-month {
	background-color: gainsboro;
}